
body.bg{
  font-family: Arial;
  background: radial-gradient(circle at center, #4b0099, #05000a 85%);
  color:#e6d9ff;
  margin:0;
  background-attachment:fixed;
}
header{
  background: rgba(20,0,40,0.6);
  backdrop-filter: blur(4px);
  padding:20px;
  text-align:center;
  border-bottom:2px solid #9c47ff;
}
nav a{
  margin:0 10px;
  color:#e5d4ff;
  font-weight:700;
  text-decoration:none;
  padding:8px 16px;
  border:1px solid #9c47ff;
  border-radius:12px;
  font-size:1.1rem;
  transition:0.3s;
}
nav a:hover{
  background:#9c47ff;
  box-shadow:0 0 14px #c892ff;
  color:white;
}
main{
  max-width:950px;
  margin:40px auto;
  background:rgba(40,0,70,0.55);
  padding:25px 35px;
  border-radius:25px;
  box-shadow:0 0 25px #7a22ff;
}
.team-list li{
  font-size:2.3rem;
  font-weight:900;
  padding:14px 0;
  text-shadow:0 0 12px #d7b3ff;
  letter-spacing:1px;
}
.team-title{
  font-size:3rem;
  font-weight:900;
  text-shadow:0 0 20px #d7b3ff;
  margin-bottom:25px;
  text-align:center;
}
/* Glow Logo */
.logo{
  width:150px;
  filter: drop-shadow(0 0 8px #b56bff) drop-shadow(0 0 18px #9c47ff);
  animation: logoGlow 3s infinite ease-in-out;
}
@keyframes logoGlow{
  0%{ filter: drop-shadow(0 0 4px #9c47ff) drop-shadow(0 0 12px #c892ff);} 
  50%{ filter: drop-shadow(0 0 18px #e9d2ff) drop-shadow(0 0 32px #b572ff);} 
  100%{ filter: drop-shadow(0 0 4px #9c47ff) drop-shadow(0 0 12px #c892ff);} 
}
